@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;700&display=swap');
*{
    padding: 0%;
    margin:0%;
    box-sizing: border-box;
}

:root{
    --mainbg:hsl(185, 75%, 39%);
   
}

body{
    background: url("/images/bg-pattern-top.svg"), url("/images/bg-pattern-bottom.svg"), var(--mainbg);
    background-repeat: no-repeat;
    background-position:-80% 80%, 160% -60% ;
    
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top:10em;
    
    .card{
        background-color: hsl(0, 0%, 100%);
        border-radius: 20px;
        #top-card{
            display:flex;
            justify-content: center;
            align-items: inherit;
            img{
                border-radius: 20px 20px 0 0;
            }
        }

        #dp{
            display: flex;
            justify-content: center;
            img{
                position: relative;
                border: 5px solid white;
                border-radius: 50%;
                top: -50px;
            }
        }
        .name-card{
            position: relative;
            top: -25px;

        .name{
            text-align: center;
            font-family: 'Kumbh Sans', sans-serif;
            color:  hsl(229, 23%, 23%);
           
           
            span{
                padding-left: 10px;
                font-family: 'Kumbh Sans', sans-serif;
                color:   hsl(0, 0%, 59%);
                font-weight: 400;
                
            }
        }
        h4{
            padding: 10px;
            text-align: center;
            font-family: 'Kumbh Sans', sans-serif;
            color:   hsl(0, 0%, 59%);
            font-weight: 400;
        }
    }
    hr{
        position: relative;
        top: -10px;
        background-color:  hsl(0, 0%, 59%);
        
    }

    .flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding-top: 1.5rem;
        padding-left: 3rem;
        padding-right: 3rem;
        padding-bottom: 1rem;
        flex-direction: row;
        top: -10px;
        

        .p1{
            font-family: 'Kumbh Sans', sans-serif;
            color:  hsl(229, 23%, 23%);
            font-weight: 700;
            font-size: 20px;
        }
        .p2{
            text-align: center;
            font-family: 'Kumbh Sans', sans-serif;
            color:    hsl(0, 0%, 59%);
            font-weight: 300;
            font-size: 10px;

        }

        
    }

    }
}

.attribution{
    position: relative;
    top: 25em;
}



@media screen  and (max-width: 600px){

    body{
        
        background-position:140% 80%, -35% -45% ;
        
    }
    
}